* {
    margin: 0;
    padding: 0;
}
html,
body,
#app {
    height: 100%;
    width: 100%;
}
.el-breadcrumb {
    margin-bottom: 20px;
  }
.el-scrollbar__wrap{
    height: 200px;
}
.ql-editor {
    min-height: 400px !important;
}